<!-- Script to add navigation links between folders: 
    link to the previous folder and link to subfolders/pages.
    To be included in "index.md" files. -->

{% assign path = page.path %} 
{% assign url = page.url %}

<!-- To get the current directory and its relative depth -->
{% assign pathArray = path | split:"/" %}
{% assign currentDir = pathArray[-2] %}
{% assign depth = pathArray.size %}

<!-- To get the title of the parent directory -->
{% for page in site.posts %}
    {% assign pagePath = page.path | split:'/' %}
    {% if pathArray[1] == pagePath[1] and pagePath[-2] != currentDir and pagePath[-1] contains 'index' %}
        {% assign dirUrl = page.url %}
        {% assign dirTitle = page.title %}
    {% endif %}
{% endfor %}

<!-- Display the title -->
{% if depth > 3 %}
<h1><a href="{{dirUrl}}">{{dirTitle}}</a>: {{page.title}}</h1>    
{% else %}
<h1>{{page.title}}</h1>
{% endif %}

<!-- Display the sub-directories or pages -->
<ul>
{% for page in site.posts %}
    {% assign pathArray = page.path | split: "/" %}
    {% if depth > 3 and pathArray[-2] == currentDir and page.url != url %}
        {% unless page.title contains "search" %}
        <li><a href="{{page.url | relative_url}}">{{page.title}}</a></li>
        {% endunless %}
    {% elsif depth <= 3 and pathArray[-3] == currentDir and pathArray[-1] contains 'index' and page.url != url %}
        {% unless page.title contains "search" %}
        <li><a href="{{page.url | relative_url}}">{{page.title}}</a></li>
        {% endunless %}
    {% endif%}
{% endfor %}
</ul>

