<!--From https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->


<!-- Indicate which pages should be included in the navigation bar (add a "/" to include a dropdown menu) -->
{% assign navItems = "/home,/about/,/news,/models/,/testCases,/contact" %}
{% assign navItems = navItems | split: "," | string %}

<nav class="navbar navbar-expand sticky-top">
  <div class="logo mr">
    <a href="/home"><img src="/assets/images/colib_logo2.png" height="50" alt="Colib"></a>
  </div>

  <ul class="navbar-nav mr-auto">
    {% for item in navItems %}
      <!-- <p> item: {{ item }} </p>  -->

      <!-- {% assign item = '/colib0.github.io' | append: item %} -->
      {% for page in site.pages %}
        <!-- Find the current page that corresponds to the item (2 cases: with or without dropdown menu), this way, the navItem order is respected. -->
        {% assign urlCurrent= page.url %}
        {% assign urlDropdownCurrent = urlCurrent | append: '/' %}
        {% if item == urlCurrent or item == urlDropdownCurrent %}
          {% assign pageNo = forloop.index0 %}
          {% assign url = urlCurrent %}
          {% assign urlDropdown = urlDropdownCurrent %}
        {% endif%}
      {% endfor %}

      <!-- Highlight current page -->
      {% if url == current_page %}
        {% assign current = ' current' %}
      {% else %}
        {% assign current = null %}
      {% endif %}
      
      <!-- Case of a dropdown menu: include all subfolders -->
      {% if navItems contains urlDropdown %}
        <li class="nav-item dropdown">
          <a class="nav-link{{ current }} dropdown-toggle" href="{{url}}" role="button" aria-haspopup="true" aria-expanded="true">{{site.pages[pageNo].title}}</a>
          <div class="dropdown-menu">
            {% for pageBis in site.pages %}
            
            {% assign urlList = (pageBis.url | split: '/') %}

            {% if pageBis.url contains urlDropdown and urlList.size == 3 %}
              {% if pageBis.url contains 'template' %}
              {% else %}
                <a class="dropdown-item" href="{{pageBis.url}}">{{pageBis.title}}</a>
              {% endif%}
            {% endif%}

            {% endfor %}
          </div>
        </li>
      
      <!-- Case of no dropdown menu -->
      {% else %}  
        <li class="nav-item"><a class="nav-link{{current}}" href="{{site.pages[pageNo].url}}">{{site.pages[pageNo].title}}</a></li>
        <!-- <p> url: {{site.pages[pageNo].url}} </p>  -->
        <!-- <p> no: {{pageNo}} </p>  -->
      {% endif%}
    {% endfor %}
  </ul>

  <div class="logo">
    <a href="/https://cresym.eu/"><img src="/assets/images/Cresym_logo.png" height="50" alt="Cresym"></a>
  </div>
</nav>