<!--From https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->


<!-- Indicate which pages should be included in the navigation bar (add a "/" to include a dropdown menu) -->
{% assign navItems = "/home,/about/,/news,/models/,/testCases,/contact" %}
{% assign navItems = navItems | split: "," | string %}


<nav class="navbar navbar-expand-sm justify-content-center">
  <div class="logo mr-auto">
    <a href="/https://cresym.eu/"><img src="/assets/images/Cresym_logo.png" height="50" alt="Cresym"></a>
  </div>
  <div class="logo mr-auto">
    <a href="/home"><img src="/assets/images/colib_logo2.png" height="70" alt="Colib"></a>
  </div>

  <ul class="navbar-nav">
    {% for page in site.pages %}

      <!-- Check if the current page should be added in the navigation bar (2 cases: with or without dropdown menu) -->
      {% assign url = page.url %}
      {% assign urlDropdown = url | append: '/' %}
      {% if navItems contains url or navItems contains urlDropdown %}

        <!-- Highlight current page -->
        {% if url == current_page %}
          {% assign current = ' current' %}
        {% else %}
          {% assign current = null %}
        {% endif %}
        
        <!-- Case of a dropdown menu: include all subfolders -->
        {% if navItems contains urlDropdown %}
          <li class="nav-item dropdown">
            <a class="nav-link{{ current }} dropdown-toggle" href="{{url}}" role="button" aria-haspopup="true" aria-expanded="true">{{page.title}}</a>
            <div class="dropdown-menu">
              {% for pageBis in site.pages %}
              
              {% assign urlList = (pageBis.url | split: '/') %}

              {% if pageBis.url contains urlDropdown and urlList.size == 3 %}
                {% if pageBis.url contains 'template' %}
                {% else %}
                  <a class="dropdown-item" href="{{pageBis.url}}">{{pageBis.title}}</a>
                {% endif%}
              {% endif%}

              {% endfor %}
            </div>
          </li>
        
         <!-- Case of no dropdown menu -->
        {% else %}  
          <li class="nav-item"><a class="nav-link{{current}}" href="{{page.url}}">{{page.title}}</a></li>
            
        {% endif%}
      {% endif%}

    {% endfor %}
  </ul>
</nav>