<!--From https://gist.github.com/pdarragh/c7ca120604c1a1d8b8de -->
<!-- This finds the current page so it can be highlighted. -->
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
  {% if fullurl == page.url %}
    {% assign current_page = fullurl %}
      {% break %}
  {% elsif page.url contains fullurl %}
    {% assign current_page = fullurl %}
  {% endif %}
{% endfor %}

<nav class="navbar navbar-expand-sm justify-content-center">
  <ul class="navbar-nav">
    {% for entry in site.data.navigation %}
      {% if entry.url == current_page %}
        {% assign current = ' current' %}
      {% else %}
        {% assign current = null %}
      {% endif %}

      {% if entry.url == '/models' %}  
        <li class="nav-item dropdown">
          <a class="nav-link{{ current }} dropdown-toggle" href="{{ entry.url}}" role="button" aria-haspopup="true" aria-expanded="true">Models</a>
          <div class="dropdown-menu">
            <a class="dropdown-item-rep">Lines</a>
            <a class="dropdown-item" href="{{ '/models/line/piLine' }}">PiLine</a>
            <a class="dropdown-item-rep">Loads</a>
            <a class="dropdown-item" href="{{ '/models/load/load' }}">Load</a>
            <a class="dropdown-item-rep">Storages</a>
            <a class="dropdown-item" href="{{ '/models/storage/flywheel' }}">Flywheel</a>
          </div>
        </li>
      {% elsif entry.url == '/about' %}  
        <li class="nav-item dropdown">
          <a class="nav-link{{ current }} dropdown-toggle" href="{{ entry.url}}" role="button" aria-haspopup="true" aria-expanded="true">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ '/about/team' }}">Teams and community</a>
            <a class="dropdown-item" href="{{ '/about/contribute' }}">How to contribute</a>
            <a class="dropdown-item" href="{{ '/about/codeConduct' }}">Code of conduct</a>
          </div>
        </li>

      {% else %}  
        <li class="nav-item"><a class="nav-link{{ current }}" href="{{ entry.url }}">{{ entry.title }}</a></li>

      {% endif%}
    {% endfor %}
  </ul>
</nav>
